.welcome{
  background: url("./img/welcome.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  background: url("./img/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  background: url("./img/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.min-w-140 {
  min-width: 140px;
}

.item-img {
  min-width: 160px;
  max-width: 160px;
  min-height: 160px;
  max-height: 160px;
}

.item-fav {
  position: absolute;
  top: 124px;
  left: 117px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.modal .modal-content {
  background: #FFFFFF;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-banner {
  background: #F2F2F2;
  height: 300px;
}

.mt-neg-90 {
  margin-top: -90px;
}

.modal-star {
  position: absolute;
  left: 56px;
  bottom: -10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

@media (min-width: 767px) {
  .banner {
    height: 400px;
  }

  .min-w-md-auto {
    min-width: initial;
  }

  .modal .modal-content {
    width: 740px;
  }

  .modal-banner {
    height: 400px;
  }
}
